* {
  margin: 0;
  padding: 0;
}

.App {
  border: 1px solid #8e8e8e;
  width: 550px;
  margin: 120px auto;
  border-radius: 5px;
}

.todo-list {
  border: 1px solid #8e8e8e;
  margin: 5px;
}

.todo-list > div:nth-child(even) {
  background: #dadada;
}

h1 {
  color: #8e8e8e !important;
  text-align: center;
  margin: 50px;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}